.listingContainer {
    background-color: #1d1d1d;
    padding: 10px 0;
}

.listingContainer ul{
    list-style: none;
    width: 50%;
    margin: 0 auto;
}

.my-location {
    padding: 20px 0;
}

.my-location span:not(:last-child) {
    margin-right: 20px;
}

.flight {
    display: flex;
    border: 1px solid #9412d8;
    border-radius: 20px;
    margin-bottom: 5px;
    padding: 5px;
    transition: all 0.4s ease;
    background-color: #1d1d1d;
    cursor: pointer;
}

.flight:hover {
    box-shadow: 0 0 20px 5px #9412d8;
    transform: scale(1.1);
    margin: 10px 0;
}

.flight:hover div:first-child{
    width: 140px;
    height: 140px;
}

.flight:hover img {
    width: 130%;
}

.flight img, .flight div:last-child{
    transition: all 0.4s ease;
}

.flight img {
    z-index: 9999;
    position: relative;
}

.flight p {
    padding: 5px;
    font-size: 20px;
}

.flight div:first-child {
    width: 120px;
    height: 120px;
    transition: all 0.4s ease;
    padding: 20px;
    position: relative;
    margin-right: 10px;
}

.flight div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

[class^="compass"] {
    position: absolute;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
}

.compass_n, .compass_s {
    left: 50%;
    transform: translateX(-50%);
}

.compass_e, .compass_w {
    top: 50%;
    transform: translateY(-50%);
}

.compass_n { top: 0; }
.compass_e { right: 0; }
.compass_s { bottom: 0; }
.compass_w { left: 0; }

@media screen and (max-width: 1100px) {
    .listingContainer ul {
        width: 100%;
    }
}
