.flight-details {
    margin: 10px auto 0;
    width: 50%;
}

.flight-details h2{
    
    align-items: center;
}

.flight-details h2 img {
    max-width: 120px;
    width: 100%;
}

.flight-details h2 span {
    flex: 1;
    text-align: left;
    font-size: 35px;
}

.trip {
    padding: 10px 0;
}

.trip span {
    color: #ffaa00;
}

.trip p {
    color: #ff6c00;
}

.arrow {
    max-width: 100px;
    margin: 0 10px;
}

.airplane {
    font-size: 20px;
}

.airplane span {
    color: #00f1ff;
}

.back-link {
    margin-top: 20px;
    text-decoration: none;
    color: #4edb45;
    display: inline-block;
    transition: all 0.4s ease;
    border-radius: 5px;
    padding: 5px;
}

.back-link img {
    max-width: 35px;
    max-height: 35px;
    margin-right: 10px;
    vertical-align: middle;
    transition: all 0.4s ease;
}

.back-link:hover {
    box-shadow: 0 0 7px 0px #4edb45;
}

.back-link:hover img {
    transform: rotate(-20deg);
}

@media screen and (max-width: 1100px) {
    .flight-details {width: 100%; padding: 0 10px;}
}
